  <!-- Skills section -->
<body>


  <header>
    <div class="container">
      <div class="logo">
        <img src="./assets/logo.png" alt="Logo" />
        <h3>Joseph Byron</h3>
      </div>

      <div class="links">
        <ul>
          <li><a href="#" routerLink="/resume">Resume</a></li>
          <li><a href="#" routerLink="/projects">Projects</a></li>
          <li><a href="#" routerLink="contact">Contact</a></li>
          <li><a href="#" class="btn">Home</a></li>
        </ul>
      </div>

      <div class="overlay"></div>

      <div class="hamburger-menu">
        <div class="bar"></div>

      </div>
    </div>
  </header>

  <section class="resume" id="resume">
    <h2 class="resume-title">Resume:</h2>
    <div class="resume-container">
      <p class="resume-description">

      </p>
      <p></p>
      <a
        href="../../assets/resume.jpg"
        class="resume-link"
        target="_blank"
        rel="noopener noreferrer"

      download

        >Download resume</a
      >

    </div>
  </section>



  <section class="skills" id="skills">
    <h2 class="skill-header">Skills</h2>
    <div class="bottom-area">
        <div class="container">
          <!-- <button (click)="toggleTheme()" class="toggle-btn">
            <i class="far fa-moon"></i>
            <i class="far fa-sun"></i>
          </button> -->
        </div>
      </div>

    <div class="skills-wrapper">
      <div class="first-set animate__animated">
        <img
          src="./assets/java.png"
          alt="Java"
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="./assets/spring-boot.png"
          alt="Spring-boot"
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="./assets/mysql.png"
          alt="MySQL"
          loading="lazy"
          class="icon icon-card"
        />
      </div>
      <div class="third-set animate__animated">
        <img
          src="./assets/html.png"
          alt="HTML"
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="./assets/css.png"
          alt="CSS"
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="./assets/javascript.png"
          alt="Javascript"
          loading="lazy"
          class="icon icon-card"
        />
      </div>
      <div class="second-set animate__animated">
        <img
          src="./assets/angular.png"
          alt="Angular"
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="./assets/git.png"
          alt="Git"
          loading="lazy"
          class="icon icon-card"
        />
        <img
          src="./assets/intellij.png"
          alt="Intellij"
          loading="lazy"
          class="icon icon-card"
        />
      </div>
    </div>
  </section>

  <button (click)="toggleTheme()" class="toggle-btn">
            <i class="far fa-moon"></i>
            <i class="far fa-sun"></i>
          </button>




  <!-- <section class="resume" id="resume">
    <h2 class="resume-title">Resume:</h2>
    <div class="resume-container">
      <p class="resume-description">

      </p>
      <p></p>
      <a
        href="../../assets/resume.jpg"
        class="resume-link"
        target="_blank"
        rel="noopener noreferrer"

      download

        >Download resume</a
      >

    </div>
  </section> -->
</body>
