<body>
    <main>
      <div class="big-wrapper" >
        <img src="assets/shape.png" alt="" class="shape" />

        <header>
          <div class="container">
            <div class="logo">
              <img src="assets/logo.png" alt="Logo" />
              <h3>Joseph Byron</h3>
            </div>

            <div class="links">
              <ul>
                <li><a href="#" routerLink="/resume">Resume</a></li>
                <li><a href="#" routerLink="/projects">Projects</a></li>
                <li><a href="#" routerLink="/contact">Contact</a></li>
                <li><a href="#" class="btn">Home</a></li>
              </ul>
            </div>

            <div class="overlay"></div>

            <div class="hamburger-menu">
              <div class="bar"></div>
            </div>
          </div>
        </header>
        <!-- <button class="btn btn-sm btn-primary"></button> -->

        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>Java Developer</h1>
                <h1></h1>
              </div>
              <p class="text">
                👋 Junior Java developer here, passionate about full-stack
                development 🚀. My skills span 🌼 Java, Spring, Angular, MongoDB,
                SQL, HTML, CSS, JavaScript, and TypeScript.👾 Committed to
                staying updated with the latest trends and 🧩 solving complex
                problems. My goal 🎯 is to create innovative software that exceeds
                user expectations. Let's collaborate and bring your digital vision
                to life! 🤝
              </p>
              <div class="cta">
                <a href="#" class="btn">Get started</a>
              </div>
            </div>

            <div class="right">
              <img
                src="assets/profilepiclightblue.png"
                alt="Person Image"
                class="person"
              />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button (click)="toggleTheme()" class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    </body>
